@font-face {
  font-family: "campton";
  src: local("campton"),
    url(./assets/campton/campton-book.ttf) format("truetype");
}

@font-face {
  font-family: "exotic";
  src: local("exotic"),
    url(./assets/Exotc/Exotc350BdBTBold.ttf) format("truetype");
}

@font-face {
  font-family: "campton_bold";
  src: local("campton_bold"),
    url(./assets/campton/campton-medium.ttf) format("truetype");
}

@font-face {
  font-family: "campton_semibold";
  src: local("campton_semibold"),
    url(./assets/campton/campton-semibold.ttf) format("truetype");
}

.footer h4 {
  font-weight: 600;
}

h2 {
  font-weight: 600 !important;
}
h3 {
  font-weight: 600 !important;
}
